<div class="progress fixed top-0 left-0 h-1 w-full">
    <div class="progress-bar h-1 bg-primary-700 w-100 transition-transform origin-left scale-x-0"></div>
</div>
<header>
    <div class="sm:container mx-auto flex flex-row px-4 py-2">
        <nav class="ml-auto">
            <ul class="flex flex-row py-4 gap-4">
                <li>
                    <a class="text-primary-700 hover:text-primary-500" href="/" data-swap="main">
                        <img src="/assets/themed/link-outline.svg" alt="Links" class="w-8 h-8" />
                    </a>
                </li>
                <li>
                    <a class="text-primary-700 hover:text-primary-500" href="/qr/" data-swap="main">
                        <img src="/assets/themed/qr-code-outline.svg" alt="QR Code" class="w-8 h-8" />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
